.App {
  max-width: 800px;
  display: block;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  text-align: center;
}
