section {
  margin: 10px;
  text-align: left;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Form .header {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}
.Form .example {
  font-size: 13px;
  opacity: 0.7;
  margin: 5px;
}
.Form input {
  text-align: left;
  opacity: 0.5;
  font-weight: bold;
}
