.synonym {
  margin: 5px 10px;
  padding: 0px;
}
.synonym li {
  list-style: none;
  display: inline-flex;
  margin-right: 10px;
  font-size: 15px;
}
.meaning strong {
  opacity: 0.5;
}
.meaning em {
  opacity: 0.5;
}
.meaningResults {
  margin: 10px;
}
